@reference "tailwindcss";

.moz-rdo {
	@layer mozui.modifier {
		@apply relative inline-block shrink-0 cursor-pointer appearance-none rounded-full p-1 align-middle;

		--moz_rdo_size: calc(var(--size-selector, 0.25rem) * 6);

		border: var(--width-border) solid
			var(--moz_rdo_color, color-mix(in srgb, currentColor 20%, #0000));
		width: var(--moz_rdo_size);
		height: var(--moz_rdo_size);
		color: var(--moz_rdo_color, currentColor);
		box-shadow: 0 1px oklch(0% 0 0 / calc(var(--effect-depth) * 0.1)) inset;

		&:before {
			@apply block size-full rounded-full;
			--tw-content: "";
			content: var(--tw-content);
			background-size: auto, calc(var(--effect-noise) * 100%);
			background-image: none, var(--effect-noise);
		}

		&:focus-visible {
			outline: 2px solid currentColor;
		}

		&:checked,
		&[aria-checked="true"] {
			border-color: currentcolor;
			background-color: var(--color-base-100);
			@media (prefers-reduced-motion: no-preference) {
				animation: radio 0.2s ease-out;
			}

			&:before {
				background-color: currentcolor;
				box-shadow: 0 -1px oklch(
							0% 0 0 / calc(var(--effect-depth) * 0.1)
						) inset,
					0 8px 0 -4px oklch(
							100% 0 0 / calc(var(--effect-depth) * 0.1)
						) inset,
					0 1px oklch(0% 0 0 / calc(var(--effect-depth) * 0.1));
			}

			@media (forced-colors: active) {
				&:before {
					@apply outline -outline-offset-1;
				}
			}

			@media print {
				&:before {
					outline: 0.25rem solid;
					outline-offset: -1rem;
				}
			}
		}
	}
}

.moz-rdo:disabled {
	@layer mozui.modifier {
		@apply cursor-not-allowed opacity-20;
	}
}

.moz-rdo-primary {
	@layer mozui.modifier {
		--moz_rdo_color: var(--color-primary);
	}
}

.moz-rdo-secondary {
	@layer mozui.modifier {
		--moz_rdo_color: var(--color-secondary);
	}
}

.moz-rdo-accent {
	@layer mozui.modifier {
		--moz_rdo_color: var(--color-accent);
	}
}

.moz-rdo-neutral {
	@layer mozui.modifier {
		--moz_rdo_color: var(--color-neutral);
	}
}

.moz-rdo-info {
	@layer mozui.modifier {
		--moz_rdo_color: var(--color-info);
	}
}

.moz-rdo-success {
	@layer mozui.modifier {
		--moz_rdo_color: var(--color-success);
	}
}

.moz-rdo-warning {
	@layer mozui.modifier {
		--moz_rdo_color: var(--color-warning);
	}
}

.moz-rdo-error {
	@layer mozui.modifier {
		--moz_rdo_color: var(--color-error);
	}
}

.moz-rdo-xs {
	@layer mozui.modifier {
		padding: 0.125rem;
		&:is([type="radio"]) {
			--moz_rdo_size: calc(var(--size-selector, 0.25rem) * 4);
		}
	}
}

.moz-rdo-sm {
	@layer mozui.modifier {
		padding: 0.1875rem;
		&:is([type="radio"]) {
			--moz_rdo_size: calc(var(--size-selector, 0.25rem) * 5);
		}
	}
}

.moz-rdo-md {
	@layer mozui.modifier {
		padding: 0.25rem;
		&:is([type="radio"]) {
			--moz_rdo_size: calc(var(--size-selector, 0.25rem) * 6);
		}
	}
}

.moz-rdo-lg {
	@layer mozui.modifier {
		padding: 0.3125rem;
		&:is([type="radio"]) {
			--moz_rdo_size: calc(var(--size-selector, 0.25rem) * 7);
		}
	}
}

.moz-rdo-xl {
	@layer mozui.modifier {
		padding: 0.375rem;
		&:is([type="radio"]) {
			--moz_rdo_size: calc(var(--size-selector, 0.25rem) * 8);
		}
	}
}

@keyframes radio {
	0% {
		padding: 5px;
	}

	50% {
		padding: 3px;
	}
}
