@reference "tailwindcss";

.moz-bdg {
	@layer mozui.component {
		@apply inline-flex items-center justify-center gap-2 align-middle;

		--moz_bdg_background: var(--moz_bdg_color, var(--color-base-100));
		--moz_bdg_foreground: var(--color-base-content);
		--moz_bdg_size: calc(var(--size-selector, 0.25rem) * 6);

		color: var(--moz_bdg_foreground);
		border: var(--width-border) solid
			var(--moz_bdg_color, var(--color-base-200));
		font-size: 0.875rem;
		width: fit-content;
		padding-inline: calc(0.25rem * 3 - var(--border));
		background-size: auto, calc(var(--noise) * 100%);
		background-image: none, var(--effect-noise);
		background-color: var(--moz_bdg_background);
		border-radius: var(--radius-selector);
		height: var(--moz_bdg_size);
	}
}

.moz-bdg-outline {
	@layer mozui.modifier {
		color: var(--moz_bdg_color);
		--moz_bdg_background: #0000;
		background-image: none;
		border-color: currentColor;
	}
}

.moz-bdg-dash {
	@layer mozui.modifier {
		color: var(--moz_bdg_color);
		--moz_bdg_background: #0000;
		background-image: none;
		border-color: currentColor;
		border-style: dashed;
	}
}

.moz-bdg-soft {
	@layer mozui.modifier {
		color: var(--moz_bdg_color, var(--color-base-content));
		background-color: color-mix(
			in oklab,
			var(--moz_bdg_color, var(--color-base-content)) 8%,
			var(--color-base-100)
		);
		border-color: color-mix(
			in oklab,
			var(--moz_bdg_color, var(--color-base-content)) 10%,
			var(--color-base-100)
		);
		background-image: none;
	}
}

.moz-bdg-primary {
	@layer mozui.modifier {
		--moz_bdg_color: var(--color-primary);
		--moz_bdg_foreground: var(--color-primary-content);
	}
}

.moz-bdg-secondary {
	@layer mozui.modifier {
		--moz_bdg_color: var(--color-secondary);
		--moz_bdg_foreground: var(--color-secondary-content);
	}
}

.moz-bdg-accent {
	@layer mozui.modifier {
		--moz_bdg_color: var(--color-accent);
		--moz_bdg_foreground: var(--color-accent-content);
	}
}

.moz-bdg-neutral {
	@layer mozui.modifier {
		--moz_bdg_color: var(--color-neutral);
		--moz_bdg_foreground: var(--color-neutral-content);
	}
}

.moz-bdg-info {
	@layer mozui.modifier {
		--moz_bdg_color: var(--color-info);
		--moz_bdg_foreground: var(--color-info-content);
	}
}

.moz-bdg-success {
	@layer mozui.modifier {
		--moz_bdg_color: var(--color-success);
		--moz_bdg_foreground: var(--color-success-content);
	}
}

.moz-bdg-warning {
	@layer mozui.modifier {
		--moz_bdg_color: var(--color-warning);
		--moz_bdg_foreground: var(--color-warning-content);
	}
}

.moz-bdg-error {
	@layer mozui.modifier {
		--moz_bdg_color: var(--color-error);
		--moz_bdg_foreground: var(--color-error-content);
	}
}

.moz-bdg-ghost {
	@layer mozui.modifier {
		color: var(--color-base-content);
		background-color: var(--color-base-200);
		border-color: var(--color-base-200);
		background-image: none;
	}
}

.moz-bdg-xs {
	@layer mozui.modifier {
		--moz_bdg_size: calc(var(--size-selector, 0.25rem) * 4);
		font-size: 0.625rem;
		padding-inline: calc(0.25rem * 2 - var(--width-border));
	}
}

.moz-bdg-sm {
	@layer mozui.modifier {
		--moz_bdg_size: calc(var(--size-selector, 0.25rem) * 5);
		font-size: 0.75rem;
		padding-inline: calc(0.25rem * 2.5 - var(--width-border));
	}
}

.moz-bdg-md {
	@layer mozui.modifier {
		--moz_bdg_size: calc(var(--size-selector, 0.25rem) * 6);
		font-size: 0.875rem;
		padding-inline: calc(0.25rem * 3 - var(--width-border));
	}
}

.moz-bdg-lg {
	@layer mozui.modifier {
		--moz_bdg_size: calc(var(--size-selector, 0.25rem) * 7);
		font-size: 1rem;
		padding-inline: calc(0.25rem * 3.5 - var(--width-border));
	}
}

.moz-bdg-xl {
	@layer mozui.modifier {
		--moz_bdg_size: calc(var(--size-selector, 0.25rem) * 8);
		font-size: 1.125rem;
		padding-inline: calc(0.25rem * 4 - var(--width-border));
	}
}
