@reference "tailwindcss";

.moz-tgl {
	@layer mozui.component {
		@apply relative inline-grid shrink-0 cursor-pointer appearance-none place-content-center align-middle select-none;
		grid-template-columns: 0fr 1fr 1fr;

		--moz_tgl_padding: calc(var(--moz_tgl_size) * 0.125);
		--moz_tgl_size: calc(var(--size-selector, 0.25rem) * 6);
		--moz_tgl_border: var(--width-border);
		--moz_tgl_color: color-mix(
			in oklab,
			var(--color-base-content) 50%,
			#0000
		);
		--moz_tgl_radius_selector_max: calc(
			var(--radius-selector) + var(--radius-selector) +
				var(--radius-selector)
		);

		padding: var(--moz_tgl_padding);
		border: var(--moz_tgl_border) solid currentColor;
		width: calc(
			(var(--moz_tgl_size) * 2) -
				(var(--moz_tgl_border) + var(--moz_tgl_padding)) * 2
		);
		height: var(--moz_tgl_size);
		transition: color 0.3s, grid-template-columns 0.2s;
		color: var(--moz_tgl_color);
		box-shadow: 0 1px
			color-mix(
				in oklab,
				currentColor calc(var(--effect-depth) * 10%),
				#0000
			)
			inset;
		border-radius: calc(
			var(--radius-selector) +
				min(var(--moz_tgl_padding), var(--moz_tgl_radius_selector_max)) +
				min(var(--moz_tgl_border), var(--moz_tgl_radius_selector_max))
		);

		> * {
			@apply z-1 col-span-1 col-start-2 row-start-1 h-full cursor-pointer appearance-none bg-transparent p-0.5;
			transition: opacity 0.2s, rotate 0.4s;
			border: none;
			&:focus {
				@apply outline-hidden;
			}
			&:nth-child(2) {
				color: var(--color-base-100);
				rotate: 0deg;
			}
			&:nth-child(3) {
				@apply opacity-0;
				color: var(--color-base-100);
				rotate: -15deg;
			}
		}
		&:has(:checked) {
			> :nth-child(2) {
				@apply opacity-0;
				rotate: 15deg;
			}
			> :nth-child(3) {
				@apply opacity-100;
				rotate: 0deg;
			}
		}
		&:before {
			@apply relative start-0 col-start-2 row-start-1 aspect-square h-full bg-current;
			border-radius: var(--radius-selector);
			translate: 0;
			--tw-content: "";
			content: var(--tw-content);
			transition: background-color 0.1s, translate 0.2s,
				inset-inline-start 0.2s;
			box-shadow: 0 -1px oklch(0% 0 0 / calc(var(--effect-depth) * 0.1)) inset,
				0 8px 0 -4px oklch(100% 0 0 / calc(var(--effect-depth) * 0.1)) inset,
				0 1px
					color-mix(
						in oklab,
						currentColor calc(var(--effect-depth) * 10%),
						#0000
					);
			background-size: auto, calc(var(--effect-noise) * 100%);
			background-image: none, var(--effect-noise);
		}

		@media (forced-colors: active) {
			&:before {
				@apply outline -outline-offset-1;
			}
		}

		@media print {
			&:before {
				outline: 0.25rem solid;
				outline-offset: -1rem;
			}
		}

		&:focus-visible,
		&:has(:focus-visible) {
			outline: 2px solid currentColor;
			outline-offset: 2px;
		}

		&:checked,
		&[aria-checked="true"],
		&:has(> input:checked) {
			grid-template-columns: 1fr 1fr 0fr;
			background-color: var(--color-base-100);
			--moz_tgl_color: var(--color-base-content);

			&:before {
				@apply bg-current;
			}
			@starting-style {
				&:before {
					opacity: 0;
				}
			}
		}

		&:indeterminate {
			grid-template-columns: 0.5fr 1fr 0.5fr;
		}

		&:disabled {
			@apply cursor-not-allowed opacity-30;

			&:before {
				@apply bg-transparent;
				border: var(--moz_tgl_border) solid currentColor;
			}
		}
	}
}

.moz-tgl-primary {
	@layer mozui.modifier {
		&:checked,
		&[aria-checked="true"] {
			--moz_tgl_color: var(--color-primary);
		}
	}
}

.moz-tgl-secondary {
	@layer mozui.modifier {
		&:checked,
		&[aria-checked="true"] {
			--moz_tgl_color: var(--color-secondary);
		}
	}
}

.moz-tgl-accent {
	@layer mozui.modifier {
		&:checked,
		&[aria-checked="true"] {
			--moz_tgl_color: var(--color-accent);
		}
	}
}

.moz-tgl-neutral {
	@layer mozui.modifier {
		&:checked,
		&[aria-checked="true"] {
			--moz_tgl_color: var(--color-neutral);
		}
	}
}

.moz-tgl-success {
	@layer mozui.modifier {
		&:checked,
		&[aria-checked="true"] {
			--moz_tgl_color: var(--color-success);
		}
	}
}

.moz-tgl-warning {
	@layer mozui.modifier {
		&:checked,
		&[aria-checked="true"] {
			--moz_tgl_color: var(--color-warning);
		}
	}
}

.moz-tgl-info {
	@layer mozui.modifier {
		&:checked,
		&[aria-checked="true"] {
			--moz_tgl_color: var(--color-info);
		}
	}
}

.moz-tgl-error {
	@layer mozui.modifier {
		&:checked,
		&[aria-checked="true"] {
			--moz_tgl_color: var(--color-error);
		}
	}
}

.moz-tgl-xs {
	@layer mozui.modifier {
		&:is([type="checkbox"]),
		&:has([type="checkbox"]) {
			--moz_tgl_size: calc(var(--size-selector, 0.25rem) * 4);
		}
	}
}

.moz-tgl-sm {
	@layer mozui.modifier {
		&:is([type="checkbox"]),
		&:has([type="checkbox"]) {
			--moz_tgl_size: calc(var(--size-selector, 0.25rem) * 5);
		}
	}
}

.moz-tgl-md {
	@layer mozui.modifier {
		&:is([type="checkbox"]),
		&:has([type="checkbox"]) {
			--moz_tgl_size: calc(var(--size-selector, 0.25rem) * 6);
		}
	}
}

.moz-tgl-lg {
	@layer mozui.modifier {
		&:is([type="checkbox"]),
		&:has([type="checkbox"]) {
			--moz_tgl_size: calc(var(--size-selector, 0.25rem) * 7);
		}
	}
}

.moz-tgl-xl {
	@layer mozui.modifier {
		&:is([type="checkbox"]),
		&:has([type="checkbox"]) {
			--moz_tgl_size: calc(var(--size-selector, 0.25rem) * 8);
		}
	}
}
