@reference "tailwindcss";

.moz-ava-group {
	@layer mozui.component {
		@apply flex rtl:space-x-reverse;

		.moz-ava {
			@apply overflow-hidden rounded-full;
			outline: 4px solid var(--color-base-100);

			&:before {
				display: none;
			}
		}
	}
}

.moz-ava-group-xs {
	@layer mozui.modifier {
		@apply -space-x-1.5;
	}
}

.moz-ava-group-sm {
	@layer mozui.modifier {
		@apply -space-x-2;
	}
}

.moz-ava-group-md {
	@layer mozui.modifier {
		@apply -space-x-2.5;
	}
}

.moz-ava-group-lg {
	@layer mozui.modifier {
		@apply -space-x-3;
	}
}

.moz-ava-group-xl {
	@layer mozui.modifier {
		@apply -space-x-4;
	}
}

.moz-ava {
	@layer mozui.component {
		@apply relative inline-flex align-middle;

		& > div {
			@apply block aspect-square overflow-hidden;
		}

		img {
			@apply h-full w-full object-cover;
		}
	}
}

.moz-ava-xs {
	@layer mozui.modifier {
		@apply w-6 h-6;
	}
}

.moz-ava-sm {
	@layer mozui.modifier {
		@apply w-8 h-8;
	}
}

.moz-ava-md {
	@layer mozui.modifier {
		@apply w-10 h-10;
	}
}

.moz-ava-lg {
	@layer mozui.modifier {
		@apply w-12 h-12;
	}
}

.moz-ava-xl {
	@layer mozui.modifier {
		@apply w-16 h-16;
	}
}

.moz-ava-placeholder {
	@layer mozui.modifier {
		& > div {
			@apply flex items-center justify-center p-2;
			background-color: var(--color-neutral);
			color: var(--color-neutral-content);

			svg {
				@apply w-full h-full;
			}
		}
	}
}

.moz-ava-online {
	@layer mozui.modifier {
		&:before {
			content: "";
			@apply absolute z-1 block rounded-full;
			background-color: var(--color-success);
			outline: 2px solid var(--color-base-100);
			width: 15%;
			height: 15%;
			top: 7%;
			right: 7%;
		}
	}
}

.moz-ava-offline {
	@layer mozui.modifier {
		&:before {
			content: "";
			@apply absolute z-1 block rounded-full;
			background-color: var(--color-neutral);
			outline: 2px solid var(--color-base-100);
			width: 15%;
			height: 15%;
			top: 7%;
			right: 7%;
		}
	}
}

.moz-ava-away {
	@layer mozui.modifier {
		&:before {
			content: "";
			@apply absolute z-1 block rounded-full;
			background-color: var(--color-warning);
			outline: 2px solid var(--color-base-100);
			width: 15%;
			height: 15%;
			top: 7%;
			right: 7%;
		}
	}
}

.moz-ava-busy {
	@layer mozui.modifier {
		&:before {
			content: "";
			@apply absolute z-1 block rounded-full;
			background-color: var(--color-error);
			outline: 2px solid var(--color-base-100);
			width: 15%;
			height: 15%;
			top: 7%;
			right: 7%;
		}
	}
}
