@reference "tailwindcss";

.moz-cde {
	@layer mozui.component {
		@apply relative overflow-hidden overflow-x-auto py-5;

		border-radius: var(--radius-box);
		color: var(--color-neutral-content);
		background-color: var(--color-neutral);
		font-size: 0.875rem;
		direction: ltr;

		&:before {
			content: "";
			@apply mb-4 block h-3 w-3 rounded-full opacity-30;
			box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;
		}

		pre {
			@apply pr-5;

			&:before {
				content: "";
				margin-right: 2ch;
			}

			&[data-prefix] {
				&:before {
					--tw-content: attr(data-prefix);
					content: var(--tw-content);
					@apply inline-block w-8 text-right opacity-50;
				}
			}
		}
	}
}
