@reference "tailwindcss";

.moz-kbd {
	box-shadow: none;
	@layer mozui.component {
		@apply inline-flex items-center justify-center align-middle;
		--moz_kbd_size: calc(var(--size-selector, 0.25rem) * 6);
		--moz_kbd_color: var(--color-base-content);

		border-radius: var(--radius-field, var(--radius-field));
		background-color: var(--color-base-200);
		padding-left: 0.5em;
		padding-right: 0.5em;
		border: var(--width-border) solid
			color-mix(in srgb, var(--moz_kbd_color) 20%, #0000);
		border-bottom: calc(var(--width-border) + 1px) solid
			color-mix(in srgb, var(--moz_kbd_color) 20%, #0000);
		font-size: 0.875rem;
		height: var(--moz_kbd_size);
		min-width: var(--moz_kbd_size);
	}
}

.moz-kbd-xs {
	@layer mozui.modifier {
		--moz_kbd_size: calc(var(--size-selector, 0.25rem) * 4);
		font-size: 0.625rem;
	}
}

.moz-kbd-sm {
	@layer mozui.modifier {
		--moz_kbd_size: calc(var(--size-selector, 0.25rem) * 5);
		font-size: 0.75rem;
	}
}

.moz-kbd-md {
	@layer mozui.modifier {
		--moz_kbd_size: calc(var(--size-selector, 0.25rem) * 6);
		font-size: 0.875rem;
	}
}

.moz-kbd-lg {
	@layer mozui.modifier {
		--moz_kbd_size: calc(var(--size-selector, 0.25rem) * 7);
		font-size: 1rem;
	}
}

.moz-kbd-xl {
	@layer mozui.modifier {
		--moz_kbd_size: calc(var(--size-selector, 0.25rem) * 8);
		font-size: 1.125rem;
	}
}

.moz-kbd-primary {
	@layer mozui.modifier {
		--moz_kbd_color: var(--color-primary);
	}
}

.moz-kbd-secondary {
	@layer mozui.modifier {
		--moz_kbd_color: var(--color-secondary);
	}
}

.moz-kbd-accent {
	@layer mozui.modifier {
		--moz_kbd_color: var(--color-accent);
	}
}

.moz-kbd-neutral {
	@layer mozui.modifier {
		--moz_kbd_color: var(--color-neutral);
	}
}

.moz-kbd-success {
	@layer mozui.modifier {
		--moz_kbd_color: var(--color-success);
	}
}

.moz-kbd-warning {
	@layer mozui.modifier {
		--moz_kbd_color: var(--color-warning);
	}
}

.moz-kbd-info {
	@layer mozui.modifier {
		--moz_kbd_color: var(--color-info);
	}
}

.moz-kbd-error {
	@layer mozui.modifier {
		--moz_kbd_color: var(--color-error);
	}
}
