@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: "gruv";
	default: true;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(14.86% 0.003 84.77);
	--color-base-200: oklch(18.06% 0.005 84.77);
	--color-base-300: oklch(24.32% 0.007 84.77);
	--color-base-content: oklch(85.34% 0.016 84.77);
	--color-primary: oklch(0.7555 0.1078 137.68);
	--color-primary-content: oklch(18% 0.005 84.77);
	--color-secondary: oklch(0.8325 0.1595 82.99);
	--color-secondary-content: oklch(18.06% 0.005 84.77);
	--color-accent: oklch(0.7054 0.0976 2.19);
	--color-accent-content: oklch(18.06% 0.005 84.77);
	--color-neutral: oklch(34.25% 0.012 84.77);
	--color-neutral-content: oklch(85.34% 0.016 84.77);
	--color-info: oklch(0.6927 0.042 169.77);
	--color-info-content: oklch(18% 0.005 84.77);
	--color-success: oklch(0.7652 0.1581 110.83);
	--color-success-content: oklch(18% 0.005 84.77);
	--color-warning: oklch(0.7311 0.182 51.69);
	--color-warning-content: oklch(18% 0.005 84.77);
	--color-error: oklch(0.6597 0.2175 30.39);
	--color-error-content: oklch(18% 0.005 84.77);
	--radius-selector: 1rem;
	--radius-field: 1rem;
	--radius-box: 1rem;
	--size-selector: 0.21875rem;
	--size-field: 0.21875rem;
	--width-border: 1px;
	--effect-depth: 1;
	--effect-noise: 1;
}
